
<form action="/updateprofile" method="post" class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Update Profile</h1>
      <label  class="sr-only">City</label>
      <input type="text" id="" name="city" class="form-control" placeholder="city" required="" autofocus="">
      <label class="sr-only">State</label>
      <input type="text" id="" name="state" class="form-control" placeholder="state" required="">
      <input class="btn btn-lg btn-primary btn-block" type="submit" value="Save Changes">
</form>

<form action="/changepassword" method="post" class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>
      <label  class="sr-only">Current Password</label>
      <input type="text" id="" name="currentPassword" class="form-control" placeholder="current" required="" autofocus="">
      <label class="sr-only">New Password</label>
      <input type="text" id="" name="newPassword" class="form-control" placeholder="new" required="">
      <input class="btn btn-lg btn-primary btn-block" type="submit" value="Save Changes">
</form>
